/*
*= require chosen
*/

@import "font-awesome";
@import "bootstrap";
@import "questions";

.flash-message {
  padding: 8px;
  color: darkolivegreen;
  background-color: palegreen;
  border-radius: 5px;
}
